@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

 body {
	background: #f2efd9;
}

 @-webkit-keyframes rotate-right {
	 from {
		 -webkit-transform: rotate(0deg);
	}
	 to {
		 -webkit-transform: rotate(360deg);
	}
}
 @-webkit-keyframes rotate-left {
	 from {
		 -webkit-transform: rotate(0deg);
	}
	 to {
		 -webkit-transform: rotate(-360deg);
	}
}
 @-webkit-keyframes hover {
	 0% {
		 -webkit-transform: translateY(0%);
	}
	 50% {
		 -webkit-transform: translateY(5%);
	}
	 100% {
		 -webkit-transform: translateY(0%);
	}
}
 @-webkit-keyframes pull {
	 0% {
		 -webkit-transform: scaleY(1);
	}
	 40% {
		 -webkit-transform: scaleY(1.01);
	}
	 60% {
		 -webkit-transform: scaleY(0.99);
	}
	 80% {
		 -webkit-transform: scaleY(1.01);
	}
	 100% {
		 -webkit-transform: scaleY(0.99);
	}
	 80% {
		 -webkit-transform: scaleY(1.01);
	}
	 100% {
		 -webkit-transform: scaleY(1);
	}
}
 #airplane2, #airplane1 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-right 60s linear 0s infinite;
}
 #countryObjects {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-right 240s linear 0s infinite;
}
 #floatingGlobe {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-left 360s linear 0s infinite;
}
 #globe {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: hover 0s linear 0s infinite;
}
 #windmill {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 331px 201px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-right 2s linear 0s infinite;
}
 #cloud1 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: hover 3s linear 1s infinite;
}
 #cloud2 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: hover 3s linear 2s infinite;
}
 #cloud3 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: hover 3s linear 3s infinite;
}
 #circle1 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-right 12s linear 0s infinite;
}
 #circle2 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-left 24s linear 0s infinite;
}
 #circle3 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-right 12s linear 0s infinite;
}
 #circle4 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-left 24s linear 0s infinite;
}
 #circle5 {
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-transform-origin: 200px 200px;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-animation: rotate-right 12s linear 0s infinite;
}
.bg-color{
	position: relative;
}
/* Animation */
@keyframes rotate {
    to {
        transform: rotate(360deg);
   }
}
/* Variables */
/* Loading Icon */
.loading {
    width: 100px;
    height: 100px;
}
.loading__ring {
    position: absolute;
    width: 100px;
    height: 100px;
	top: 32%;
	left: 54%;
}
.loading__ring:first-child {
    transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
    transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
    animation-delay: -0.5s;
}
.loading__ring svg {
    animation: rotate 1.5s linear infinite;
    fill: rgb(255 0 219);
}

.ani-plane{
	background-color: #28505D;
}
  .planePath {
	stroke: #D9DADA;
	stroke-width: .1%;
	stroke-width: .5%;
	stroke-dasharray: 1% 2%;
	stroke-linecap: round;
	fill: none;
  }
  
  .fil1 {
	fill: #D9DADA;
  }
  
  .fil2 {
	fill: #C5C6C6;
  }
  
  .fil4 {
	fill: #9D9E9E;
  }
  
  .fil3 {
	fill: #AEAFB0;
  }

  #holder{
	width: 800px;
	height: 500px;
	position: relative;
	background: #f2efd9;
}

div#viewport {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	bottom: 180px;
}


.circles {
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	word-break: normal;
	white-space: nowrap;
}
.red {
	width: 605px;
}

.expl{
	width: 800px;
}

.red .circles {
	animation: toleftR 0.96s linear infinite;
	height: 132px;
	margin-left: -132px;
}

.circle-top {
	border-radius: 50%;  display: inline-block;
	margin: 0;  padding: 0;
	box-sizing: border-box;
}

.red .circle-top {
	width: 264px;
	height: 264px;
	border: 11px solid hsl(0, 60%, 75%);
	margin-left: -10px;
}


@keyframes toleftR{
	0%{
		transform: translateX(0)
	}
	100%{
		transform: translateX(-254px)
	}
}

@keyframes toleftO{
	0%{
		transform: translateX(0)
	}
	100%{
		transform: translateX(-188px)
	}
}

@keyframes toleftG{
	0%{
		transform: translateX(0)
	}
	100%{
		transform: translateX(-130px)
	}
}

@keyframes toleftB{
	0%{
		transform: translateX(0)
	}
	100%{
		transform: translateX(-62px)
	}
}

div#explosion {
	margin-bottom: 0;  
	position: absolute;  
	bottom: 0;  
	width: 600px;    
	height: 100%;
	left: 100px;
}
div#explosion-circle {
	animation: explosion 2.88s infinite;
	animation-timing-function: cubic-bezier(0.140, 0.620, 0.405, 0.850);
	animation-direction: normal;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	opacity: 0.5;
}

@keyframes explosion{
	0%{
		opacity: 0;
		transform:translateX(0px) scale(0);
		background-color: hsl(355, 95%, 53%);
	}
	75%{
		opacity: 0.8;
		transform:translateX(0px) scale(0);
		background-color: hsl(355, 95%, 53%);
	}
	81.25%{
		background-color: hsl(200, 86%, 60%);
	}
	87.5%{
		background-color: hsl(120, 65%, 55%);
	}
	93.75%{
		background-color: hsl(60, 100%, 50%);
		opacity: 0.1;
	}
	100%{
		transform:translateX(-254px) scale(1);
		opacity: 0;
	}
}


.subviewport {
	left: 0;
	position: absolute;
	top: 0;  bottom: 0;  overflow: hidden;
}

.orange .circles {
	height: 98px;
	animation: toleftO 0.72s linear infinite;
	margin-left: 17px;
}

.orange {
	width: 505px;  
}

.orange .circle-top {
	width: 200px;
	height: 200px;
	border: 10px solid hsl(43, 77%, 76%);
	margin-left: -10px;
}

.green {
	width: 425px;
}

.green .circle-top {
	width: 140px;
	height: 140px;
	border: 10px solid hsl(123, 55%, 73%);
	margin-left: -10px;
}

.green .circles {
	height: 70px;
	animation: toleftG 0.48s linear infinite;
	margin-left: -70px;
}


.blue {
	width: 365px;
}

.blue .circle-top {
	width: 70px;
	height: 70px;
	border: 8px solid hsl(200, 77%, 73%);
	margin-left: -8px;
}

.blue .circles {
	height: 35px;
	animation: toleftB 0.24s linear infinite;
	margin-left: -35px;
}



.hexagon {
	position: absolute;
	background-color: hsl(355, 95%, 53%);
	text-align: center;
	top: 263px;
	left: 594px;
	z-index: 1;
	animation-duration: 0.96s;
	animation-name: updownR;
}
.hexagon.dude, .hexagon.dude::before, .hexagon.dude::after {
	width: 32px;
	height: 53px;
	border-width: 2px 0 2px 0;
	border-style: solid;
}
.hexagon::before {
	background-color: inherit;
	content: "";
	position: absolute;
	transform: translateY(-2px) rotate(-60deg);
	z-index: 1;
	top: 0;
	left: 0;
	border-color: inherit;
}
.hexagon::after {
	background-color: inherit;
	content: "";
	position: absolute;
	transform: translateY(-2px) rotate(60deg);
	z-index: -1;
	top: 0;
	left: 0;
	border-color: inherit;
}
.box {
	top: 210px;  
	left: 490px;
	position: absolute;
	width: 27px;
	height: 23px;
	background-color: hsl(22, 90%, 50%);

	z-index: 0;
	border-color: hsl(0, 0%, 30%);
	animation-duration: 1.44s;
	animation-name: updownO;
}

.box .face {
	width: 16px;
	height: 0;
	border-bottom: 3px solid;
	position: absolute;
	z-index: 5;
	top: 11px;
	left: 32px;
	border-color: inherit;
}
.box:before {
	width: 16px;
	height: 23px;
	position: absolute;
	content: "";
	top: -2px;
	right: -16px;
	background: inherit;
	border: inherit;
}

.box .face:after, .box .face:before {
	content: "";
	position:absolute;
	width: 0;
	height: 0;
	border-color: inherit; 
	border: 2px solid;
	border-radius: 50%;
	top: -6px;
	border-color: inherit;
}

.box .face:before{
	left: -4px;
}

.box .face:after{
	left: 3px;
}
.dude {
	position: absolute;
	border: 2px solid;  
	padding: 0;
	z-index: 2;
	border-top-color: hsl(0, 0%, 20%);
	border-bottom-color: hsl(0, 0%, 20%);
	border-right-color: hsl(0, 0%, 20%);
	border-left-color: hsl(0, 0%, 20%); 
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.rectangle {
	left: 411px;
	top: 302px;
	width: 21px;
	height: 12px;
	background: hsl(120, 65%, 55%);
	animation-duration: .48s;
	animation-name: updownG;
}
.rectangle .face {
	position: absolute;
	top: 7px;
	left: 18px;
	border-top: 3px solid;
	height: 0;
	width: 12px;
	border-color: inherit;
}
.rectangle .face:after {
	position: absolute;
	content: "";
	border-top: 2px solid;
	border-left: 2px solid;
	width: 1px;
	height: 1px;
	border-color: inherit;
	top: -8px;
	left: -1px;
}
.circle.dude {
	top: 277px;
	left: 355px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: hsl(200, 86%, 60%);
	animation-duration: .24s;
	animation-name: updownB;
}
.circle .face {
	position: absolute;
	left: 16px;
	top: 8px;
	width: 17px;
	border-top: 2px solid;
	border-color: inherit;
	z-index: 7;
}
.circle .face:after {
	border-top: 2px solid;
	border-color: inherit;
	width: 17px;
	top: -1px;
	content: "";
	position: absolute;
	transform-origin: 0 0;
	transform: rotateZ(8deg);
}
.circle .face:before {
	position: absolute;
	content: "";
	border-top: 2px solid;  
	border-left: 2px solid;  
	width: 1px;  
	height: 1px;  border-color: inherit;
	top: -7px;
	left: -4px;
	border-radius: 50%;
}

.hexagon .face {
	position: absolute;
	border-top: 3px solid;
	border-color: inherit;
	left: 8px;
	top: 8px;
	width: 26px;
	z-index: 2;
}

.hexagon .face:after {
	position: absolute;
	content: "";
	border-width: 0 3px 3px 0;
	border-style: solid;
	border-color: inherit;
	width: 8px;
	height: 21px;
	left: 12px;
	transform: skewX(11deg);
}

#red-legs{
	position: absolute;
	right: 73px;
	bottom: -20px;
}

#orange-legs{
	position: absolute;
	right: 110px;
	bottom: -20px;
}

@keyframes updownR {
	0%{
		transform: translateY(0px);
		animation-timing-function: cubic-bezier(0,.50,.50,1);
	}
	50%{
		transform: translateY(-96px);
		animation-timing-function: cubic-bezier(.50,0,1,.50) ;
	}
}

@keyframes updownO {
	0%{
		transform: translateY(0px);
		animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);     
	}
	25%{
		transform: translateY(75px) rotateZ(90deg);
		animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
	}
	50%{
		transform: translateY(0px) rotateZ(180deg);
		animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
	}
	75%{
		transform: translateY(75px) rotateZ(270deg);
		animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
	}
	100%{
		transform: translateY(0px) rotateZ(360deg);
		animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
	}
}

@keyframes updownG {
	0%{
		transform: translateY(0px) skewX(-25deg) scale(0.8,1.8);
		animation-timing-function: cubic-bezier(0,.50,.50,1);
	}
	50%{
		transform: translateY(-50px);
		animation-timing-function: cubic-bezier(.50,0,1,.50) ;
	}
	100%{
		 transform: translateY(0px) skewX(25deg) scale(0.8,1.8);
	}
}

@keyframes updownB {
	0%{
		transform: translateY(0px);
		animation-timing-function: cubic-bezier(.50,0,1,.50);
	}
	50%{
		transform: translateY(25px) scale(1.2,1);
		animation-timing-function: cubic-bezier(0,.50,.50,1);
	}
	100%{
		transform: translateY(0px);
	}
}


  
.wrap {
    position: absolute;
    width: 100px;
    height: 200px;
    left: 50%;
    margin-left: -50px;
    top: 125%;
    margin-top: -100px;
  }
  
  .drop {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    animation: drop 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
  }
  
  .drop circle {
    fill: #2a96ed;
  }
  
  .drop-outer {
    position: absolute;
    box-sizing: border-box;
    /* border: 1px solid #333; */
    width: 100px;
    height: 150px;
	top: 50px;
    overflow: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background-clip: padding-box;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  }
  
  .ripple {
    position: absolute;
    box-sizing: border-box;
    width: 240px;
    height: 240px;
    top: 68px;
    left: -70px;
    perspective: 100;
    transform: rotateX(65deg);
  }
  
  .ripple .ripple-svg {
    position: absolute;
    width: 240px;
    height: 240px;
    opacity: 0;
  }
  
  .ripple .ripple-svg circle {
     fill: none;
     stroke: #2a96ed;
     stroke-width: 10px;
     stroke-alignment: inner;
  }
  
  .ripple-1 {
    animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
  }
  
  .ripple-1 .ripple-svg {
    animation: fade-in-out 2s linear 0s infinite;
  }
  
  .ripple-1 .ripple-svg circle {
    animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
  }
  
  .ripple-2 {
    animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
  }
  
  .ripple-2 .ripple-svg {
    animation: fade-in-out 2s linear 0.2s infinite;
  }
  
  .ripple-2 .ripple-svg circle {
    animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
  }
  
  .ripple-3 {
    animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
  }
  
  .ripple-3 .ripple-svg {
    animation: fade-in-out 2s linear 0.35s infinite;
  }
  
  .ripple-3 .ripple-svg circle {
    animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
  }
  
  
  
  @keyframes drop {
    0% {
      transform: scale3d(0.01,0.01,0.01) translateY(0)
    }
    10% {
      transform: scale3d(1,1,1) 
    }
    44% {
      transform: scale3d(1,1,1) translateY(200px)
    }
    100% {
      transform: scale3d(1,1,1) translateY(200px)
    }
  }
  
  @keyframes fade-in-out {
    0% {opacity: 0}
    42% {opacity: 0}
    52% {opacity: 1}
    65% {opacity: 1}
    100% {opacity: 0}
  }
  
  @keyframes ripple {
    0% { transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2) }
    42% { transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2) }
    100% { transform: rotateX(65deg) scale3d(0.9, 0.9, 0.9) }
  }
  
  @keyframes border {
    0% { stroke-width: 6px }
    42% { stroke-width: 6px }
    100% {stroke-width: 2px }
  }
  
  /* catJam */
  .content {
	position: relative;
  }
  .container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }
  #bongo-cat {
	position: absolute;
	height: 80vh;
	width: 80vw;
	top: 100vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  .typing-animation {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 1200ms;
  }
  path#f1-l1 {
	animation-name: typing-f 1-l1;
  }
  path#f1-l2 {
	animation-name: typing-f 1-l2;
  }
  path#f1-l3 {
	animation-name: typing-f 1-l3;
  }
  path#f2-l4 {
	animation-name: typing-f 2-l4;
  }
  path#f2-l5 {
	animation-name: typing-f 2-l5;
  }
  path#f2-l6 {
	animation-name: typing-f 2-l6;
  }
  path#f3-l7 {
	animation-name: typing-f 3-l7;
  }
  path#f3-l8 {
	animation-name: typing-f 3-l8;
  }
  path#f3-l9 {
	animation-name: typing-f 3-l9;
  }
  @keyframes typing-f3-l9 {
	0% {
	  d: path('M8,25L8,25');
   }
	82% {
	  d: path('M8,25L8,25');
   }
	92% {
	  d: path('M8,25L96,25');
   }
	100% {
	  d: path('M8,25L96,25');
   }
  }
  @keyframes typing-f3-l8 {
	0% {
	  d: path('M8,13L8,13');
   }
	68% {
	  d: path('M8,13L8,13');
   }
	82% {
	  d: path('M8,13L146,13');
   }
	100% {
	  d: path('M8,13L146,13');
   }
  }
  @keyframes typing-f3-l7 {
	0% {
	  d: path('M0,1L0,1');
   }
	60% {
	  d: path('M0,1L0,1');
   }
	68% {
	  d: path('M0,1L96,1');
   }
	100% {
	  d: path('M0,1L96,1');
   }
  }
  @keyframes typing-f2-l6 {
	0% {
	  d: path('M8,25L8,25');
   }
	54% {
	  d: path('M8,25L8,25');
   }
	60% {
	  d: path('M8,25L69,25');
   }
	100% {
	  d: path('M8,25L69,25');
   }
  }
  @keyframes typing-f2-l5 {
	0% {
	  d: path('M8,13L8,13');
   }
	44% {
	  d: path('M8,13L8,13');
   }
	54% {
	  d: path('M8,13L114,13');
   }
	100% {
	  d: path('M8,13L114,13');
   }
  }
  @keyframes typing-f2-l4 {
	0% {
	  d: path('M0,1L0,1');
   }
	30% {
	  d: path('M0,1L0,1');
   }
	44% {
	  d: path('M0,1L136,1');
   }
	100% {
	  d: path('M0,1L136,1');
   }
  }
  @keyframes typing-f1-l3 {
	0% {
	  d: path('M8,25L8,25');
   }
	24% {
	  d: path('M8,25L8,25');
   }
	30% {
	  d: path('M8,25L61,25');
   }
	100% {
	  d: path('M8,25L61,25');
   }
  }
  @keyframes typing-f1-l2 {
	0% {
	  d: path('M8,13L8,13');
   }
	14% {
	  d: path('M8,13L8,13');
   }
	24% {
	  d: path('M8,13L124,13');
   }
	100% {
	  d: path('M8,13L124,13');
   }
  }
  @keyframes typing-f1-l1 {
	0% {
	  d: path('M0,1L0,1');
   }
	14% {
	  d: path('M0,1L160,1');
   }
	100% {
	  d: path('M0,1L160,1');
   }
  }
  #paw-right--up, #paw-right--down, #paw-left--up, #paw-left--down {
	animation: blink 300ms infinite;
  }
  #paw-right--up, #paw-left--down {
	animation-delay: 150ms;
  }
  @keyframes blink {
	0% {
	  opacity: 0;
   }
	49% {
	  opacity: 0;
   }
	50% {
	  opacity: 1;
   }
  }
  #laptop__code {
	transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
  }
  